.column.is-one-third
  .card
    |<div class="card-image has-text-centered has-background-red">
    |  <figure class="image is-128x128 is-inline-block">
    |    <img src=#{animal.imageUrl} alt="Placeholder image">
    |  </figure>
    |</div>
    .card-content
      .content
        div Id: #{animal.id}
        div Name: #{animal.name}
        div Species: #{animal.species}
        div Gender: #{animal.gender}
        div Age: #{animal.age}
        div Number of Kills: #{animal.numberOfKills}
        div Category: #{animal.category}
    footer.card-footer
      a.card-footer-item(href=`/animals/edit/${animal.id}`) Edit
      a.card-footer-item(onclick=`deleteAnimal(${animal.id})`) Delete
